* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.drawing-root-wrapper {
  /* height: 100%; */
  /* width: 100%; */
}




/* TOOL bar style goes here */
.toolbar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 100px;
  min-height: 30px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 4px;
  background-color: red;
}

.tool{
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.active {
  background-color: blue;
  border-radius: 5px;
}